@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.nav {
  position: fixed;
  z-index: 2;
  width: clamp(5rem, 5vw, 10rem);
  height: 100%;
  gap: 2vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: max(1vw, 1em);
  padding-bottom: max(1vw, 1em);
  border-radius: 0 max(1.5vw, 1.5em) max(1.5vw, 1.5em) 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(205, 220, 246, 0.9) 100%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: max(0.3vw, 0.3em) 0 max(0.5vw, 0.5em) max(0.2vw, 0.2em) #CEDBEF;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}
.nav a {
  text-decoration: none;
}
.nav .icon {
  cursor: pointer;
  display: block;
  width: clamp(3rem, 3vw, 10rem);
  height: clamp(3rem, 3vw, 10rem);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(114, 67, 198, 0.2);
}
.nav .icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.nav .button {
  color: #7243C6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: max(1.5vw, 1.5em);
}
.nav .green {
  background: #22CDB3;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
}
.nav .red {
  background: #FF6B6B;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
}
.nav .servers {
  border-radius: max(5vw, 5em);
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
  width: 60%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 max(0.5vw, 0.1rem) 0;
  gap: max(0.7vw, 0.7em);
}
.nav .servers .allServers {
  box-shadow: inset 2px 2px 5px rgba(205, 220, 246, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.8);
  width: 100%;
  border-radius: max(5vw, 5em);
  flex-grow: 2;
  height: 60vh;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 0 max(1vw, 1em) 0;
  display: flex;
  padding-top: max(0.5vw, 0.5em);
  align-items: center;
  flex-direction: column;
  gap: max(1vw, 1em);
}
.nav .servers a {
  height: clamp(2.5rem, 2.5vw, 10rem);
  width: clamp(2.5rem, 2.5vw, 10rem);
  background: #FFF;
  box-shadow: 0px 4px 8px #CEDBEF;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: max(1vw, 1em);
  transition: 0.3s;
}
.nav .servers a:hover {
  transform: scale(1.1);
}
.nav .servers a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inint_page {
  display: flex;
  flex-direction: column;
  height: 90vh;
  font-family: "Poppins", sans-serif;
}

.cards {
  display: flex;
  gap: max(1vw, 1em);
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.cards .user_info {
  max-width: max(25vw, 25rem);
  display: flex;
  align-items: center;
  gap: max(1vw, 1em);
  background: linear-gradient(105.41deg, rgba(255, 255, 255, 0.8) 7.83%, rgba(205, 220, 246, 0.8) 93.81%);
  box-shadow: 0px 20px 40px #CEDBEF, inset 3px 3px 10px rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: max(1.5vw, 0.3rem) max(2vw, 0.7em);
  border-radius: 31px;
  cursor: default;
  position: relative;
  z-index: 1;
}
.cards .user_info img {
  width: max(3rem, 5vw);
  height: max(3rem, 5vw);
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 4px 10px #CEDBEF;
}
.cards .user_info .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: max(0.7vw, 0.7em);
}
.cards .user_info h1 {
  background: linear-gradient(89.99deg, #7243C6 59.61%, #9B11AD 94.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: max(1rem, 2vw);
}
.cards .user_info h1 span {
  color: #666;
  -webkit-text-fill-color: #666;
}
.cards .user_info p {
  color: #22CDB3;
  font-weight: 500;
  font-size: max(1rem, 1.2vw);
}
.cards .user_info .stars_image {
  height: auto;
  border-radius: 0;
  width: max(5vw, 5rem);
  -o-object-fit: contain;
     object-fit: contain;
  height: max(1vw, 1rem);
}
.cards .privte_paypal {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  color: #000;
  padding: max(1vw, 1rem) max(1vw, 1em);
  border-radius: max(1vw, 1em);
  display: flex;
  gap: max(3vw, 3em);
}
.cards .privte_paypal p {
  color: #333;
  font-weight: 500;
}
.cards .privte_paypal button {
  cursor: pointer;
  background: linear-gradient(97.39deg, #FFF 7.18%, #CDDCF6 92.15%);
  color: #7243C6;
  font-weight: bold;
  box-shadow: 0px 5px 15px #CEDBEF;
  border-radius: max(0.5vw, 0.5em);
  border: none;
  padding: max(0.5vw, 0.1rem) max(1vw, 1rem);
  transition: 0.3s;
}
.cards .privte_paypal button:hover {
  outline: 1px solid #fff;
  transform: translateY(-2px);
}

.paypal_pubb_back {
  opacity: 0;
  transition: 0.3s;
  display: none;
  position: absolute;
  padding: max(1.4vw, 1rem) max(1.4vw, 1rem);
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 20;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: max(1vw, 1em);
  font-family: "Poppins", sans-serif;
}
.paypal_pubb_back .paypal_pubb {
  background: #FFF;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: max(1vw, 0.9em);
  padding: max(0.5vw, 0.5em);
  padding-bottom: max(1.2vw, 1.2em);
  border-radius: 31px;
}
.paypal_pubb_back .paypal_pubb p {
  font-size: max(1.3vw, 1.3em);
  text-align: center;
  translate: 0 30%;
  font-weight: bold;
  color: #333;
}
.paypal_pubb_back .paypal_pubb input {
  font-size: max(1vw, 0.8rem);
  border: 1px solid #eee;
  padding: max(0.5vw, 0.5em) max(1vw, 1em);
  outline: none;
  box-shadow: none;
  background: #F2F6FF;
  border-radius: max(0.7vw, 0.5rem);
  color: #000;
}
.paypal_pubb_back .paypal_pubb input:focus {
  background: #FFF;
  box-shadow: 0 0 0 2px #CEDBEF;
}
.paypal_pubb_back .paypal_pubb .buttons {
  display: flex;
  justify-content: space-around;
  gap: max(1.5vw, 1.5em);
}
.paypal_pubb_back .paypal_pubb .buttons button {
  cursor: pointer;
  border-radius: max(0.7vw, 0.5rem);
  box-shadow: 0 5px 15px #CEDBEF;
  padding: max(0.5vw, 0.2em) max(1vw, 0.5em);
  font-size: max(1vw, 1em);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: max(0.5vw, 0.1rem);
  border: none;
  font-weight: 600;
}
.paypal_pubb_back .paypal_pubb .buttons .yes {
  background: linear-gradient(97.39deg, #22CDB3 7.18%, #149c86 92.15%);
  color: #FFF;
  transition: 0.3s;
}
.paypal_pubb_back .paypal_pubb .buttons .yes:hover {
  box-shadow: 0 8px 20px #b0e9e0;
  transform: translateY(-2px);
}
.paypal_pubb_back .paypal_pubb .buttons .yes:active {
  transform: translateY(0);
}
.paypal_pubb_back .paypal_pubb .buttons .no {
  background: #FF6B6B;
  color: #FFF;
  transition: 0.1s;
}
.paypal_pubb_back .paypal_pubb .buttons .no:hover {
  box-shadow: 0 8px 20px #ffcccc;
  transform: translateY(-2px);
}
.paypal_pubb_back .paypal_pubb .buttons .no:active {
  transform: translateY(0);
}/*# sourceMappingURL=nav.css.map */