%logs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 30vh;
    gap: max(1vw, 1em);
    align-items: start;
    flex-grow: 1;
    @media (max-height: 600px) {
        min-height: 80vh;
    }
    padding-top: max(2vw, 2rem);
    .log_card{
        height: 100%;
        box-shadow: max(0.3vw, 0.3em) 0 max(0.5vw, 0.5em) max(0.1vw, 0.1em) #08080856;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #262A38;
        padding: max(1vw, 1rem);
        width:  max(28vw, 20em);
        border-radius: max(1vw, 1em);
        .head{
            display: flex;
            justify-content: space-between;
            color: #FFF;
            align-items: center;
            h1{
                font-size: max(1.2vw, 0.7rem);
            }
            button{
                border-radius: max(0.5vw, 0.5rem);
                background: #227DD1;
                border: none;
                outline: none;
                font-weight: bold;
                color: #FFF;
                font-size: max(1vw, 0.7rem);
                padding: max(0.5vw, 0.5rem) max(1vw, 1rem);
                cursor: pointer;
            }
        }
        .mid{
            flex-grow: 1;
            max-height: 30vh;
            @media screen and  (max-height: 1100px), screen and (max-width: 1100px){
                max-height: 50vh;
            }
            overflow: scroll;
            margin-top: max(1vw, 1em);
            .payment_log{
                margin:0 0 max(1vw, 1rem) 0;
                cursor: pointer;
                background: linear-gradient(90deg, #22D1B2, #227DD1);
                border-radius: max(0.3vw, 0.3rem);
                .up{
                    padding: max(0.5vw, 0.5rem);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: #FFF;
                    .amount{
                        font-size: max(1.2vw, 0.7rem);
                        font-weight: bold;
                        text-align: start;
                        color: #ffffff6a;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .from, .to{
                        display: flex;
                        align-items: center;
                        img{
                            width: max(1.7vw, 1.3rem);
                            height: max(1.7vw, 1.3rem);
                            object-fit: cover;
                            border-radius: 50%;
                            margin: 0 max(0.5vw, 0.5rem);
                        }
                        display: flex;
                        p{
                            font-size: max(1vw, 0.8rem);
                        }
                        .bold{
                            font-weight: bold;
                        }
                        .not_bold{
                            font-size: max(0.9vw, 0.7rem);
                            width: max(3vw, 3rem);
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .to{
                        margin-left: max(0.5vw, 0.5rem);
                        img{
                            margin-left: 0;
                        }
                        p{
                            margin-right:max(0.5vw, 0.5rem);
                        }
                    }
                }
                .down{
                    overflow: hidden;
                    transition: 0.3s;
                    padding-bottom: 2vh;
                    .log_info{
                        width: 95%;
                        padding: max(0.5vw, 0.5em);
                        margin: auto;
                        background: #282828;
                        p{
                            color: #FFF;
                            font-size: max(0.9vw, 0.9rem);
                            font-weight: bold;
                            span{
                                font-weight: 400;
                            }
                        }
                        h1{
                            color: #FFF;
                            font-size: max(1.5vw, 1.5rem);
                        }
                    }
                }

            }
        }
        .foot{
            padding-top: max(1vw, 1rem);
            display: flex;
            justify-content: center;
            .More_Button{
                cursor: pointer;
                background: #22CAB4;
                color: #FFF;
                font-weight: bold;
                border: none;
                outline: none;
                font-size: max(1vw, 1rem);
                border-radius: max(0.5vw, 0.5rem);
                padding: max(0.5vw, 0.5rem) max(1vw, 1rem);
            }
        }
    }
}