%no_bot{
    padding-top: max(5vw, 5rem);
    padding-left: max(3vw, 3rem);
    color: #FFF;
    h1{
      font-size: max(2vw, 2rem);
      margin-bottom: max(1vw, 1rem);
    }
    p{
        font-size: max(1.3vw, 1.3rem);
        margin-bottom: max(1.5vw, 1.5rem);
    }
    a{
        text-decoration: none;
        color: #FFF;
        background: #22CAB4;
        padding: max(0.3vw, 0.3rem) max(1vw, 1rem);
        cursor: pointer;
        box-shadow: #00000076 max(0.1vw, 0.1rem) max(0.1vw, 0.1rem) max(0.3vw, 0.3rem) max(0.1vw, 0.1rem);
        font-size: max(1.5vw, 1.5rem);
        border-radius: max(0.5vw, 0.5rem);
        transition: 0.3s;
        &:hover{
            background: #262A38;
        }
    }
}