@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.logs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 30vh;
  gap: max(1vw, 1em);
  align-items: start;
  flex-grow: 1;
  font-family: "Poppins", sans-serif;
  padding-top: max(2vw, 2rem);
}
@media (max-height: 600px) {
  .logs {
    min-height: 80vh;
  }
}
.logs .log_card {
  height: 100%;
  background: linear-gradient(105.41deg, rgba(255, 255, 255, 0.36) 7.83%, rgba(205, 220, 246, 0.36) 93.81%);
  box-shadow: 0px 20px 40px #CEDBEF, inset 3px 3px 10px rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 31px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: max(1vw, 1rem);
  width: max(28vw, 20em);
}
.logs .log_card .head {
  display: flex;
  justify-content: space-between;
  color: #000;
  align-items: center;
}
.logs .log_card .head h1 {
  background: linear-gradient(89.99deg, #7243C6 59.61%, #9B11AD 94.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  font-size: max(1.2vw, 0.7rem);
}
.logs .log_card .head button {
  border: none;
  outline: none;
  font-weight: bold;
  color: #000;
  font-size: max(1vw, 0.7rem);
  padding: max(0.5vw, 0.5rem) max(1vw, 1rem);
  cursor: pointer;
  background: linear-gradient(97.39deg, #FFF 7.18%, #CDDCF6 92.15%);
  box-shadow: 0px 10px 20px #CEDBEF;
  border-radius: max(1vw, 1em);
  transition: 0.3s;
}
.logs .log_card .head button:hover {
  outline: #ffffff solid max(0.1vw, 0.1rem);
}
.logs .log_card .mid {
  flex-grow: 1;
  max-height: 30vh;
  overflow-y: auto;
  margin-top: max(1vw, 1em);
  padding-right: 5px;
}
@media screen and (max-height: 1100px), screen and (max-width: 1100px) {
  .logs .log_card .mid {
    max-height: 50vh;
  }
}
.logs .log_card .mid .payment_log {
  margin: 0 0 max(1vw, 1rem) 0;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 15px rgba(168, 186, 218, 0.35);
  border-radius: max(0.5vw, 0.5rem);
  transition: 0.3s;
}
.logs .log_card .mid .payment_log:hover {
  background: #FFF;
  transform: translateY(-2px);
}
.logs .log_card .mid .payment_log .up {
  padding: max(0.5vw, 0.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}
.logs .log_card .mid .payment_log .up .amount {
  font-size: max(1.2vw, 0.7rem);
  font-weight: bold;
  text-align: start;
  background: linear-gradient(89.99deg, #7243C6 59.61%, #9B11AD 94.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  overflow: hidden;
  text-overflow: ellipsis;
}
.logs .log_card .mid .payment_log .up .from, .logs .log_card .mid .payment_log .up .to {
  display: flex;
  align-items: center;
  display: flex;
}
.logs .log_card .mid .payment_log .up .from img, .logs .log_card .mid .payment_log .up .to img {
  width: max(1.7vw, 1.3rem);
  height: max(1.7vw, 1.3rem);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 max(0.5vw, 0.5rem);
  border: 1px solid #7243C6;
}
.logs .log_card .mid .payment_log .up .from p, .logs .log_card .mid .payment_log .up .to p {
  font-size: max(1vw, 0.8rem);
  color: #333;
}
.logs .log_card .mid .payment_log .up .from .bold, .logs .log_card .mid .payment_log .up .to .bold {
  font-weight: bold;
  color: #000;
}
.logs .log_card .mid .payment_log .up .from .not_bold, .logs .log_card .mid .payment_log .up .to .not_bold {
  font-size: max(0.9vw, 0.7rem);
  width: max(3vw, 3rem);
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
}
.logs .log_card .mid .payment_log .up .to {
  margin-left: max(0.5vw, 0.5rem);
}
.logs .log_card .mid .payment_log .up .to img {
  margin-left: 0;
}
.logs .log_card .mid .payment_log .up .to p {
  margin-right: max(0.5vw, 0.5rem);
}
.logs .log_card .mid .payment_log .down {
  overflow: hidden;
  transition: 0.3s;
  padding-bottom: 0;
}
.logs .log_card .mid .payment_log .down .log_info {
  width: 95%;
  padding: max(0.5vw, 0.5em);
  margin: auto;
  margin-bottom: max(0.5vw, 0.5em);
  background: #F2F6FF;
  border-radius: max(0.3vw, 0.3rem);
}
.logs .log_card .mid .payment_log .down .log_info p {
  color: #333;
  font-size: max(0.9vw, 0.9rem);
  font-weight: bold;
}
.logs .log_card .mid .payment_log .down .log_info p span {
  font-weight: 400;
  color: #555;
}
.logs .log_card .mid .payment_log .down .log_info h1 {
  color: #000;
  font-size: max(1.5vw, 1.5rem);
}
.logs .log_card .foot {
  padding-top: max(1vw, 1rem);
  display: flex;
  justify-content: center;
}
.logs .log_card .foot .More_Button {
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: max(1vw, 1rem);
  padding: max(0.5vw, 0.5rem) max(1vw, 1rem);
  color: #000;
  background: linear-gradient(97.39deg, #FFF 7.18%, #CDDCF6 92.15%);
  box-shadow: 0px 20px 40px #CEDBEF, inset 3px 3px 10px rgba(255, 255, 255, 0.72);
  border-radius: max(1vw, 1em);
  transition: 0.3s;
}
.logs .log_card .foot .More_Button:hover {
  outline: #ffffff solid max(0.1vw, 0.1rem);
}

.server_config {
  width: max(28vw, 20em);
  height: 100%;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(105.41deg, rgba(255, 255, 255, 0.36) 7.83%, rgba(205, 220, 246, 0.36) 93.81%);
  box-shadow: 0px 20px 40px #CEDBEF, inset 3px 3px 10px rgba(255, 255, 255, 0.72);
  border-radius: 31px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.input_holder {
  width: 100%;
  height: 100%;
  background-color: rgb(242, 246, 255);
  padding: max(0.5vw, 0.3rem);
  position: relative;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
}
.input_holder .error_msg {
  transition: 0.3s;
  position: absolute;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 31px;
  padding: max(2rem, 2vw);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 20px 40px #CEDBEF;
  z-index: 10;
}
.input_holder .error_msg .loadong {
  width: max(10vw, 10rem);
  height: max(10vw, 10rem);
  border-style: dashed none dashed none;
  border-color: #7243C6;
  border-width: max(0.1vw, 0.1rem);
  border-radius: max(5vw, 5rem);
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  animation: loding infinite 2s linear;
}
.input_holder .error_msg .loadong::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 80%;
  border-style: dashed none dashed none;
  border-color: #9B11AD;
  border-width: max(0.2vw, 0.2rem);
  border-radius: max(5vw, 5rem);
  translate: -50% -50%;
  animation: lodingTow infinite 1s linear;
}
.input_holder .error_msg .loadong::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 0%;
  border-style: dashed dashed dashed dashed;
  border-color: #7243C6;
  border-width: max(0.1vw, 0.1rem);
  border-radius: 50%;
  translate: -50% -50%;
  animation: loding infinite 2s linear;
}
.input_holder .error_msg h1 {
  background: linear-gradient(89.99deg, #7243C6 59.61%, #9B11AD 94.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: max(1.5vw, 1.5rem);
  text-align: center;
}
.input_holder .error_msg button {
  color: #000;
  font-size: max(1vw, 1rem);
  padding: max(0.5vw, 0.5rem) max(1vw, 1rem);
  outline: none;
  border: none;
  cursor: pointer;
  background: linear-gradient(97.39deg, #FFF 7.18%, #CDDCF6 92.15%);
  box-shadow: 0px 20px 40px #CEDBEF, inset 3px 3px 10px rgba(255, 255, 255, 0.72);
  border-radius: max(1vw, 1em);
  transition: 0.3s;
}
.input_holder .error_msg button:hover {
  outline: #ffffff solid max(0.1vw, 0.1rem);
}
.input_holder .linyer {
  padding: max(1vw, 0.8rem) max(3vw, 2rem);
  background: linear-gradient(105.41deg, rgba(255, 255, 255, 0.36) 7.83%, rgba(205, 220, 246, 0.36) 93.81%);
  display: flex;
  position: relative;
  height: 100%;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: max(4vw, 4rem);
  border-radius: 31px;
}
.input_holder .linyer .from_to_input {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.input_holder .linyer .from_to_input .one_of_tow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_holder .linyer .from_to_input .one_of_tow label {
  padding: 0;
  color: #000;
}
.input_holder .linyer .from_to_input .one_of_tow input[type=date] {
  font-size: max(1vw, 1rem);
  padding: max(0.3vw, 0.3rem) max(0.7vw, 0.7rem);
}
.input_holder .linyer input, .input_holder .linyer textarea, .input_holder .linyer select {
  outline: none;
  border: none;
  font-size: max(0.9vw, 0.8rem);
  background: white;
  color: rgb(2, 2, 2);
  border-radius: max(0.5vw, 0.5em);
  padding: max(0.5vw, 0.5em) max(1vw, 1em);
  margin-bottom: max(1vw, 1em);
  resize: none;
  transition: 0.3s;
}
.input_holder .linyer input::-moz-placeholder, .input_holder .linyer textarea::-moz-placeholder, .input_holder .linyer select::-moz-placeholder {
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.input_holder .linyer input::placeholder, .input_holder .linyer textarea::placeholder, .input_holder .linyer select::placeholder {
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.input_holder .linyer input:focus, .input_holder .linyer textarea:focus, .input_holder .linyer select:focus {
  padding: max(0.5vw, 0.5em) max(1vw, 1em);
}
.input_holder .linyer button, .input_holder .linyer input[type=submit] {
  cursor: pointer;
  color: #000;
  font-size: max(1vw, 1rem);
  padding: max(0.5vw, 0.5rem) max(1vw, 1rem);
  border: none;
  background: linear-gradient(97.39deg, #FFF 7.18%, #CDDCF6 92.15%);
  box-shadow: 0px 20px 40px #CEDBEF, inset 3px 3px 10px rgba(255, 255, 255, 0.72);
  border-radius: max(1vw, 1em);
  transition: 0.3s;
}
.input_holder .linyer button:hover, .input_holder .linyer input[type=submit]:hover {
  outline: #ffffff solid max(0.1vw, 0.1rem);
}
.input_holder .linyer h1 {
  font-weight: 700;
  background: linear-gradient(89.99deg, #7243C6 59.61%, #9B11AD 94.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: max(1.5vw, 1.5rem);
  position: absolute;
  padding: max(0.5vw, 0.5rem) max(1.5vw, 1.5rem);
  top: 0;
  left: 0;
}
.input_holder .linyer .input_lable, .input_holder .linyer .multy_input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: max(1vw, 1rem);
}
.input_holder .linyer .input_lable label, .input_holder .linyer .multy_input label {
  color: #000;
  font-size: max(1vw, 1rem);
  display: block;
  margin-bottom: max(0.5vw, 0.5rem);
  padding-left: max(0.8vw, 0.8rem);
  text-transform: capitalize;
  font-weight: 500;
}
.input_holder .linyer .input_lable select, .input_holder .linyer .multy_input select {
  width: -moz-fit-content;
  width: fit-content;
  padding: max(0.3vw, 0.3rem) max(1vw, 1rem);
}
.input_holder .linyer .input_lable input[type=text], .input_holder .linyer .input_lable input[type=number], .input_holder .linyer .input_lable textarea, .input_holder .linyer .input_lable input[type=email], .input_holder .linyer .input_lable input[type=file], .input_holder .linyer .multy_input input[type=text], .input_holder .linyer .multy_input input[type=number], .input_holder .linyer .multy_input textarea, .input_holder .linyer .multy_input input[type=email], .input_holder .linyer .multy_input input[type=file] {
  width: 100%;
  border-radius: max(0.5vw, 0.5rem);
}
.input_holder .linyer .input_lable textarea, .input_holder .linyer .multy_input textarea {
  height: max(10vw, 10rem);
}
.input_holder .linyer .input_lable .image_input, .input_holder .linyer .multy_input .image_input {
  display: flex;
  padding-left: max(1vw, 1rem);
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.input_holder .linyer .input_lable .image_input .label_image, .input_holder .linyer .multy_input .image_input .label_image {
  cursor: pointer;
  font-size: max(1vw, 1rem);
  color: #000;
  padding: max(0.5vw, 0.5rem) max(1vw, 1rem);
  background: linear-gradient(97.39deg, #FFF 7.18%, #CDDCF6 92.15%);
  box-shadow: 0px 20px 40px #CEDBEF, inset 3px 3px 10px rgba(255, 255, 255, 0.72);
  border-radius: max(1vw, 1em);
}
.input_holder .linyer .input_lable .image_input img, .input_holder .linyer .multy_input .image_input img {
  display: block;
  width: max(5vw, 5rem);
  height: max(5vw, 5rem);
  border: solid max(0.15vw, 0.15rem) #000;
  border-radius: max(0.5vw, 0.5rem);
  background: linear-gradient(169deg, #8b5dce, #656565);
  padding: 2px;
}
.input_holder .multy_input {
  align-items: start;
  gap: max(0.5vw, 0.5rem);
}
.input_holder .multy_input .buttons {
  display: flex;
  gap: max(1vw, 1rem);
}

@keyframes loding {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes lodingTow {
  from {
    rotate: 360deg;
  }
  to {
    rotate: 0;
  }
}
.filtter_pupp {
  transition: 0.3s;
  position: fixed;
  opacity: 0;
  display: none;
  left: 0;
  top: 0;
  z-index: 8;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4470588235);
  font-family: "Poppins", sans-serif;
}
.filtter_pupp .mid {
  width: max(28vw, 28rem);
  height: 50vh;
  background: linear-gradient(105.41deg, rgba(255, 255, 255, 0.85) 7.83%, rgba(205, 220, 246, 0.85) 93.81%);
  border-radius: 31px;
  padding: max(2rem, 2vw);
  text-align: center;
  box-shadow: 0px 20px 40px #CEDBEF, inset 3px 3px 10px rgba(255, 255, 255, 0.72);
  border: 1px solid rgba(255, 255, 255, 0.4);
  overflow-y: auto;
}

.no_bot {
  padding-top: max(5vw, 5rem);
  padding-left: max(3vw, 3rem);
  font-family: "Poppins", sans-serif;
  color: #000;
}
.no_bot h1 {
  font-size: max(2vw, 2rem);
  margin-bottom: max(1vw, 1rem);
  font-weight: 700;
  background: linear-gradient(89.99deg, #7243C6 59.61%, #9B11AD 94.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.no_bot p {
  font-size: max(1.3vw, 1.3rem);
  margin-bottom: max(1.5vw, 1.5rem);
  color: #444;
  font-weight: 500;
}
.no_bot a {
  text-decoration: none;
  cursor: pointer;
  font-size: max(1.5vw, 1.5rem);
  padding: max(0.5vw, 0.5rem) max(2vw, 2rem);
  border-radius: max(1vw, 1rem);
  color: #000;
  background: linear-gradient(97.39deg, #FFF 7.18%, #CDDCF6 92.15%);
  box-shadow: 0px 20px 40px #CEDBEF, inset 3px 3px 10px rgba(255, 255, 255, 0.72);
  transition: 0.3s;
}
.no_bot a:hover {
  outline: #7243C6 solid max(0.1vw, 0.1rem);
  transform: translateY(-2px);
}/*# sourceMappingURL=index.css.map */